#boy {
	font-family: ALGERIAN;
}
div {
	background-color: purple;
	width: 100%;
	height: 100px;
}
img {
	width: 150px;
	height: 150px;
	float: right;
}
@keyframes homes{
 10%{ color:red }
 20%{ color:blue}
 50%{font-size: 2em}
 100%{ background-color:gold }
}
 #left {
 	animation: homes 3s infinite;
 	text-align: left;
 }